@tailwind base;
@tailwind components;
@tailwind utilities;

.hide-scroll-bar {
    -ms-overflow-style: none; 
    scrollbar-width: none; 
  }
  .hide-scroll-bar::-webkit-scrollbar {
    display: none; 
  }

  .boxShadow{
    box-shadow: 12px 12px  rgba(50, 51, 46)
    
    
  }
  .boxShadowButton{
    box-shadow: 2px 2px  rgba(50, 51, 46)
  }

  .finished{
    opacity: 0.5;
  }